<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blogentry.title %>
</p>

<p>
  <b>Content:</b>
  <%= @blogentry.content %>
</p>

<p>
  <b>Highlighted:</b>
  <%= @blogentry.highlighted %>
</p>


<%= link_to 'Edit', "/projects/#{@blogentry.project_id}/blog/#{@blogentry.id}/edit" %> |
<%= link_to 'Back', "/projects/#{@blogentry.project_id}/blog" %>
