<p id="notice"><%= notice %></p>

<p>
  <b>From user:</b>
  <%= @message.from_user_id %>
</p>

<p>
  <b>To user:</b>
  <%= @message.to_user_id %>
</p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>

<p>
  <b>Replied:</b>
  <%= @message.replied %>
</p>

<p>
  <b>Project:</b>
  <%= @message.project_id %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
