<h1>Listing objectives</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @objectives.each do |objective| %>
  <tr>
    <td><%= objective.name %></td>
    <td><%= objective.description %></td>
    <td><%= link_to 'Show', project_objective_path(:id => objective.id, :project_id => params[:project_id]) %></td>
    <td><%= link_to 'Edit', edit_project_objective_path(:id => objective.id, :project_id => params[:project_id]) %></td>
    <td><%= link_to 'Destroy', project_objective_path(:id => objective.id, :project_id => params[:project_id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Objective', new_project_objective_path %>
