<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @objective.name %>
</p>

<p>
  <b>Description:</b>
  <%= @objective.description %>
</p>


<%= link_to 'Edit', edit_project_objective_path(@objective) %> |
<%= link_to 'Back', project_objectives_path %>
