<html>

  <body>    
<<<<<<< HEAD
    
    
    <%= render 'interactive-image' %>
    <%= render 'front-projects' %>
    <%= render 'map' %>
=======
		
	
	<%= render 'interactive-image' %>
	
	<%= render 'front-projects' %>
	
	<%= render 'map' %>
>>>>>>> Added meta tags


  </body>
</html>
