<div id="section-footer" class="content-wrap clearfix">
  <div id="footer-wrap">
    <div class="part">
      <%= link_to "about","" %> /
      <%= link_to "terms of service","" %> /
      <%= link_to "contact","" %> /
      <%= link_to "site map","" %> /
      <%= link_to "find other nexus","" %>
    </div>
    <div class="part">
      <a>nexus</a> &copy; 2013 tech valley of gravity.
    </div>
  </div>
</div>