<div id='section-header' class='content-wrap clearfix'>
	<div id="header-wrap" class="clearfix">
		<div id="logo-wrap">
			<div id='header-logo'><a href="../"><img src="/imgs/nexus-logo.png"></a></div>
			<!--<p class='subhead-text'>troy, ny</p>-->
		</div>
			<div class="header-nav-wrap">
				<div class="header-nav">
					<% if current_user %>
						<a href="#" id="start_a_project_button" >start a<br><span>project</span></a>
					<% else %>
						<a href="static_pages/about">learn<br><span>about nexus</span></a>
					<% end %>
				</div>
			        <div class="header-nav">
				  <a href="../browse">discover<br><span>projects</span></a>
				</div>
				<!-- <div class="header-nav">
                                  <a href="../browse">explore<br><span>more</span></a>
				</div> -->

			  <% if current_user %>
        <div class="header-user">
          <img id="header_user_image" src="http://graph.facebook.com/<%= current_user.fb_nickname %>/picture" />
          <div id="header_user_name">
            <%= current_user.first %>
          </div>
        </div>
        <ul id="header_user_dropdown">
          <li><%= link_to "Dashboard", "#" %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Calendar", "#" %></li>
          <li><%= link_to "Nexus", "static_pages/about" %></li>
          <li><%= link_to "Add To-Do", "#" %></li>
          <li><%= link_to "Logout", signout_path %></li>
        </ul>
			  <% else %>
			    <%= link_to "Sign in with Facebook", "/auth/facebook", class: "login-fb-btn" %>
			  <% end %>
		</div>
	</div>
</div>
