<div id='section-header' class='content-wrap clearfix'>
	<div id="header-wrap" class="clearfix">
		<div id="logo-wrap">
			<div id='header-logo'><a href="../"><img src="/imgs/nexus-logo.png"></a></div>
			<!--<p class='subhead-text'>troy, ny</p>-->
		</div>
			<div class="header-nav-wrap">
				<div class="header-nav">
					<% if current_user %>
						<a href="#" id="start_a_project_button" >start a<br><span>project</span></a>
					<% else %>
						<a href="">learn<br><span>about nexus</span></a>
					<% end %>
				</div>
			        <div class="header-nav">
				  <a href="../browse">browse<br><span>projects</span></a>
				</div>
				<!-- <div class="header-nav">
                                  <a href="../browse">explore<br><span>more</span></a>
				</div> -->

			<div class="header-user">

			  <% if current_user %>
			  <div id="header_user_image"></div>

			  <div id="header_user_dropdown">
			    <%= link_to "Dashboard", "#" %> <br/>
			    <%= link_to "Profile", current_user %> <br/>
			    <%= link_to "Calendar", "#" %> <br/>
			    <%= link_to "Nexus", "#" %> <br/>
			    <%= link_to "Add To-Do", "#" %> <br/>
			    <%= link_to "Logout", signout_path %>
			  </div>

			  <div id="header_user_name">
			    <%= current_user.first %>
			  </div>

			  <% else %>
			    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
			  <% end %>
			</div>
		</div>
	</div>
</div>
