<div class='content-wrap clearfix'>
  <div class="content header">
    <div class="section section-title-area">
      <% if type == "categories" %>
        <h1 class="section-title"><%= @category.name %> projects</h1>
      <% else %>
        <h1 class="section-title"><%= type %> projects</h1>
	<%= link_to "View All", "/collections/#{type}" %>
      <% end %>
    </div>
  </div>
  <div class="content projects">
    <div class="section section-projects-area">
      <div class="tile-slider-area">
        <div id="<%= type %>-projects" class="tile-wrap clearfix">
          <% if type == "featured" %>
            <% projects = @featured %>
          <% elsif type == "local" %>
            <% projects = @projects %>
          <% elsif type == "new" %>
            <% projects = @projects.last(4).reverse %>
          <% elsif type == "popular" %>
            <% projects = @projects.first(4).reverse %>
          <% elsif type == "categories" %>
            <% projects = @category.projects %>
          <% end %>
          <div class="tile-holder" style="width: <% @width = 240*projects.count %> <% @width -= 40%> <%= @width %>px">
            <% projects.each do |project| %>
              <%= render '/shared/project-tiles', :project => project %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
