<div id="available_tasks_list">
  Other/unassigned tasks:
  
  <% if current_user %>
  <button class="add_objective"> + Objective </button>
  <button class="add_task"> + Task </button>

    <%= form_for(Task.new, :remote=>true) do |f| %>
      <div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
      </div>
      <div class="field">
	<%= f.label :description %><br />
	<%= f.text_field :description %>
      </div>
      <div class="field">
	<%= f.label :duedate %><br />
	<%= f.date_select :duedate %>
      </div>
      <div class="field">
	<%= f.label :objective %><br />
	<%= collection_select(:task, :objective_id, @project.objectives, :id, :name, {:prompt => true}) %>
      </div>
      <div class="actions">
	<%= f.submit %>
      </div>
    <% end %>

    <%= form_for(Objective.new, :remote=>true) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
      </div>
      <div class="field">
	<%= f.hidden_field :project_id, :value => @project.id %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% end %>

  <ul>
    <% @project.objectives.each do |objective| %>
    <li class="objective">
      <div class="objective_header">
	<%= objective.name %>
      </div>
      <ul>
	
	<% objective.tasks.each do |task| %>
	  <% if task.user_id.nil? || task.request_assistance %>
	    <%= render 'projects/objectives_tasks/available_task_expandable', :task => task %>
	  <% end %>
	<% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
