<div id="available_tasks_list">
  Other/unassigned tasks: <button class="add_objective"> + Objective </button> <button class="add_task"> + Task </button>


    <%= form_for(Task.new, :remote=>true) do |f| %>
      <div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
      </div>
      <div class="field">
	<%= f.label :description %><br />
	<%= f.text_field :description %>
      </div>
      <div class="field">
	<%= f.label :duedate %><br />
	<%= f.date_select :duedate %>
      </div>
      <div class="field">
	<%= f.label :objective %><br />
	<%= collection_select(:task, :objective_id, @project.objectives, :id, :name, {:prompt => true}) %>
      </div>
      <div class="actions">
	<%= f.submit %>
      </div>
    <% end %>

    <%= form_for(Objective.new, :remote=>true) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
      </div>
      <div class="field">
	<%= f.hidden_field :project_id, :value => @project.id %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

  <ul>
    <% @project.objectives.each do |objective| %>
    <li class="objective">
      <div class="objective_header">
	<%= objective.name %>
      </div>
      <ul>
	
	<% objective.tasks.each do |task| %>
	<% if task.user_id.nil? || task.request_assistance%>
          <li class="task">
	    <a href="#" class="expand_task" data-task="#task<%=task.id  %>"><%= task.name %></a>
	    
	    <div class="task_info" id="task<%= task.id %>">
	      Due date: <%= task.duedate.to_date %> <br/>
	      Description: <%= task.description %><br/>
	      <%= form_for(task, :method => :put, :remote=>true) do |f| %>
	      <%= f.hidden_field :user_id, :value => current_user.id %>
	      <%= f.hidden_field :request_assistance, :value => false %>
	      <%= f.submit "Claim" %>
	      <% end %>
	    </div>

	  </li>
	  <% end %>
	<% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
