<%= form_for(@projecttag) do |f| %>
  <% if @projecttag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projecttag.errors.count, "error") %> prohibited this projecttag from being saved:</h2>

      <ul>
      <% @projecttag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br />
    <%= f.number_field :tag_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
