<% @project.blogentries.reverse.each do |blogentry| %>
	<div class="blogentry">
		<div class="blogentry-left">
  			<img id="header_user_image" src="http://graph.facebook.com/<%= blogentry.user.fb_nickname %>/picture" />
 		</div>

		<div class="blogentry-right">
			<h3><%= blogentry.title %></h3>
			Authored by <%= blogentry.user.full_name %> at <%= blogentry.created_at.to_date %> <br />
			<%= blogentry.content %>
		</div>
	</div>
<% end %>


<% if current_user && current_user.id == @project.user_id %>
  <%= form_for(Blogentry.new, :remote => true) do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :project_id, :value => @project.id %>
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
