<div id="content_area">
  

	<div class="content header">
		<div class="section section-title-area">
			<div id="project_info_left">
			    <div id="project_name">
					<h1 class="section-title"> <%= @project.name %></h1>
				</div>
				<div id="project_progress">
					<div id="project_progress_bar" style="width: <%= @project.status %>%"></div>
				</div>
		  	</div>
		
			<div id="project_info_right">

			    <div id="project_join_support_contact">
			      <% if current_user != nil && current_user.id != @project.user_id %>

			        <% if @membership == nil %>
			          <input class="project_button join" type="button" value="Join" />
				<% else %>
				  <input class="project_button leave" type="button" value="Leave" membership_id="<%= @membership.id %>" />
			        <% end %>

				<% if @supporter == nil %>
				  <input class="project_button support" type="button" value="Support" />
			        <% else %>
				  <input class="project_button unsupport" type="button" value="Unsupport" supporter_id="<%= @supporter.id %>" />
			        <% end %>

			      <% elsif current_user != nil && current_user.id == @project.user_id %>
			        <input class="project_button edit" type="button" value="Edit" />
			      <% end %>
			      <% if false && current_user && current_user.id == 1 %>
			        <%= form_for(@project, :remote => true) do |f| %>
				  <%= f.hidden_field :featured, :value => true %>
				  <%= f.submit "Make featured" %>
				<% end %>
			      <% end %>
			      <% if false && current_user && current_user.id == 1 %>
			        <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
			      <% end %>
			    </div>

			</div>
			
			<div id="project_status">
				<% unless @project.blogentries.blank? %>
					<%= @project.blogentries.last.title %>
				<% else %>
					<p>This project is statusless. If you're the admin, go to the blog below to change that</p>
				<% end %>
			</div>
		
		</div>
	</div>


 
    
    
  <div id="project_details_area">

    <div id="project_details_left">
      <div id="image_and_icon">
	<%= image_tag @project.photo.url %>
      </div>
    </div>
    
    <div id="project_details_right">
      <div id="project_pitch"><%= @project.pitch %></div>
      
      <div id="project_nav_panel">
	<input class="project_nav_button" type="button" value="Discussions" />
	<input class="project_nav_button" type="button" value="Images" />
	<input class="project_nav_button" type="button" value="Blog" />
	<input class="project_nav_button" type="button" value="People" />
	<input class="project_nav_button" type="button" value="Objectives" />
	<input class="project_nav_button" type="button" value="Calendar" />
	<input class="project_nav_button" type="button" value="Recent" />
	<input class="project_nav_button" type="button" value="Notifications" />
	<% if current_user && current_user.id == @project.user_id %>
	  <input class="project_nav_button" type="button" value="Mailbox" />
	<% else %>
	  <input class="project_nav_button" type="button" value="Contact" />
	<% end %>
      </div>
    </div>
    
  </div>

  <div id="project_content">
    <%= render 'home' %>
  </div>

</div>


<% link_to 'Edit', edit_project_path(@project) %>
<% link_to 'Back', projects_path %>
