<h1>Listing projectresources</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Resource</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projectresources.each do |projectresource| %>
  <tr>
    <td><%= projectresource.project_id %></td>
    <td><%= projectresource.resource_id %></td>
    <td><%= link_to 'Show', projectresource %></td>
    <td><%= link_to 'Edit', edit_projectresource_path(projectresource) %></td>
    <td><%= link_to 'Destroy', projectresource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Projectresource', new_projectresource_path %>
